.titleCourse {
  background-color: #ffd60a;
  padding: 50px;
  color: #fff;
  text-transform: uppercase;
  h3 {
    font-size: 30px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
  }
}

.details {
  padding: 50px;
  .detailsContent {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    .detailsItemLeft {
      .title {
        font-size: 30px;
      }
      .itemLeftInfo {
        padding: 30px 0;
        display: flex;
        .infoItemLeft { 
          .title {
            font-size: 18px;
          }
          .subTitle {
            font-size: 14px;
            color: #8c8c8c;
          }
        }
        .infoItemCenter {
          .title {
            font-size: 18px;
          }
          .subTitle {
            font-size: 14px;
            color: #8c8c8c;
          }
        }
        .infoItemRight {
          span {
            font-weight: 600;
            i {
              font-size: 18px;
              color: #ffd60a;
            }
          }
          .subTitle {
            font-size: 14px;
            color: #8c8c8c;
          }
        }
      }
      .itemLeftText {
        color: #8c8c8c;
        padding-bottom: 20px;
        border-bottom: 1px solid #d0d0d0;
        text-align: justify;
      }
      .itemLeftLearn {
        padding: 20px 0;
        h3 {
          padding: 10px 0;
          font-size: 20px;
        }
        .itemLearnList {
          display: flex;
          .learnListLeft {
            padding-right: 15px;
            ul {
              li {
                padding: 5px 0;
                i {
                  margin-right: 5px;
                  color: #ffd60a;
                }
                span {
                }
              }
            }
          }
          .learnListRight {
            padding-left: 15px;
            ul {
              li {
                padding: 5px 0;
                i {
                  margin-right: 5px;
                  color: #ffd60a;
                }
                span {
                }
              }
            }
          }
        }
      }
      .itemLeftContent {
        h3 {
          font-size: 20px;
          font-weight: 600;
          padding-bottom: 20px;
        }
        .leftContentDetails {
          padding: 20px 0;
          .contentTitle {
            display: flex;
            align-items: center;
            padding: 10px;
            margin-bottom: 20px;
            background-color: hsla(0, 0%, 86.3%, 0.1411764705882353);
            span {
              text-transform: uppercase;
              font-size: 22px;
              font-weight: 400;
              margin-right: 20px;
            }
            button {
              padding: 5px;
              background-color: transparent;
              border: 1px solid #41b294;
              text-transform: uppercase;
              color: #41b294;
              transition: all 0.5s;
              font-size: 15px;
              &:hover {
                background-color: #41b294;
                color: #fff;
              }
            }
          }
        }
        p {
          padding: 0 10px;
        }
        .contentLesson {
          .itemLesson {
            display: flex;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 1px 2px 1px rgba(239, 244, 190, 0.27);
            span {
              color: #8c8c8c;
              i {
                margin-right: 10px;
                color: #41b294;
              }
            }
          }
        }
      }
    }
    .detailsItemRight {
      padding: 0 15px;
      .itemRightSidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        padding: 20px 30px;
        box-shadow: 1px 1px 10px 4px #dadada;
        .sidebarPrice {
          padding: 30px 0;
          text-align: right;
          i {
            margin-right: 10px;
            color: #ed85ab;
            font-size: 20px;
          }
          .priceTitle {
            font-weight: 600;
            font-size: 25px;
          }
          .priceSubTitle {
            position: relative;
            font-size: 75%;
            line-height: 0;
            vertical-align: baseline;
            top: -0.5em;
          }
        }
        .sidebarContent {
          ul {
            li {
              display: flex;
              align-items: center;
              padding: 20px 0;
              justify-content: space-between;
              border-bottom: 1px solid #f2f1f1;
              p {
                color: #8c8c8c;
                span {
                  font-weight: 600;
                  color: #252525;
                  margin-left: 8px;
                }
                i {
                  font-size: 20px;
                  color: #f6ba35;
                }
              }
            }
          }
        }
        .btnSidebar {
          margin-top: 20px;
          text-transform: uppercase;
          border: 1px solid #41b294;
          background-color: #41b294;
          color: #fff;
          transition: all 0.5s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}



// responsive 
// 1080px
@media (max-width: 1080px) {
  .details{
    .detailsContent{
      flex-direction: column-reverse;
      .detailsItemLeft {
        margin-top: 20px;
        width: 100%;
        .title {
        }
        .itemLeftInfo {
          .itemDetails{
            .infoItemRight{
              text-align: right;
            }
          }
          .infoItemLeft { 
            .title {
            }
            .subTitle {
             
            }
          }
          .infoItemCenter {
            .title {
            }
            .subTitle {
              
            }
          }
          .infoItemRight {
            span {
              i {
              
              }
            }
            .subTitle {
              
            }
          }
        }
        .itemLeftText {
         
        }
        .itemLeftLearn {
          h3 {
          
          }
          .itemLearnList {
            .learnListLeft {
              ul {
                li {
                  i {
                   
                  }
                  span {
                  }
                }
              }
            }
            .learnListRight {
              ul {
                li {
                  i {
                  
                  }
                  span {
                  }
                }
              }
            }
          }
        }
        .itemLeftContent {
          h3 {
           
          }
          .leftContentDetails {
            .contentTitle {
             
              span {
               
              }
              button {
              
              }
            }
          }
          p {
            padding: 0 10px;
          }
          .contentLesson {
            .itemLesson {
              
              span {
                i {
               
                }
              }
            }
          }
        }
      }
      .detailsItemRight {
        width: 100%;
        .itemRightSidebar {
         
          .sidebarPrice {
            padding: 10px 0;
            i {
            }
            .priceTitle {
         
            }
            .priceSubTitle {
             
            }
          }
          .sidebarContent {
            ul {
              li {
                padding: 12px 0;
                p {
                  span {
                    
                  }
                  i {
                  }
                }
              }
            }
          }
         
        }
      }
    }
  }
}


// 767px
@media (max-width: 767px) {
  .details{
    height: 100%!important;
    padding: 50px!important ;
    .detailsContent{
      flex-direction: column-reverse;
      .detailsItemLeft {
        margin-top: 20px;
        width: 100%;
        .title {
        }
        .itemLeftInfo {
          .itemDetails{
            .infoItemRight{
              text-align: right;
            }
          }
          .infoItemLeft { 
            .title {
            }
            .subTitle {
             
            }
          }
          .infoItemCenter {
            .title {
            }
            .subTitle {
              
            }
          }
          .infoItemRight {
            span {
              i {
              
              }
            }
            .subTitle {
              
            }
          }
        }
        .itemLeftText {
          font-size: 16px;
         
        }
        .itemLeftLearn {
          h3 {
          font-size: 24px;
          }
          .itemLearnList {
            .learnListLeft {
              ul {
                li {
                  font-size: 16px;
                  i {
                   
                  }
                  span {
                  }
                }
              }
            }
            .learnListRight {
              ul {
                li {
                  font-size: 16px;
                  i {
                  
                  }
                  span {
                  }
                }
              }
            }
          }
        }
        .itemLeftContent {
          h3 {
           
          }
          .leftContentDetails {
            .contentTitle {
             
              span {
               
              }
              button {
              
              }
            }
          }
          p {
            padding: 10px 10px 0;
            font-size: 18px;
          }
          .contentLesson {
            .itemLesson {
              
              span {
                font-size: 16px;
                i {
               
                }
              }
            }
          }
        }
      }
      .detailsItemRight {
        width: 100%;
        .itemRightSidebar {
         
          .sidebarPrice {
            padding: 10px 0;
            i {
            }
            .priceTitle {
         
            }
            .priceSubTitle {
             
            }
          }
          .sidebarContent {
            ul {
              li {
                padding: 12px 0;
                font-size: 18px;
                p {
                  span {
                    
                  }
                  i {
                  }
                }
              }
            }
          }
         
        }
      }
    }
  }
}