@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root {
    --colorGlobal: #41b294;
    --colorFPrimary: #4caf50;
    --colorSPrimary: #f6ba35;
    --colorTPrimary: #ed85ab;
    --colorPLight: #80e27e;
    --colorPDark: #087f23;
    --colorWhite: #fff;
    --colorText: #252525;
    --colorTextCard: #8c8c8c;
    --colorbg: #f0f8ff;
    --colorbgCourseDetail: hsla(0, 0%, 86.3%, 0.1411764705882353);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: #252525;
    color: var(--colorText);
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style: none;
  }
  a,
  a:hover {
    color: #000;
    text-decoration: none;
  }
  .btnGlobal {
    padding: 5px 10px;
    background-color: #f6ba35;
    background-color: var(--colorSPrimary);
    border: none;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 15px;
  }
  .btnGlobal,
  .btnGlobal a {
    color: #fff;
    color: var(--colorWhite);
  }
  .btnGlobal:hover {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  .cardGlobal {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    width: 280px;
    min-width: 280px;
    min-height: 370px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  }
  .cardGlobal > img {
    height: 185px;
    min-height: 185px;
  }
  .cardEffect {
    transition: all 0.5s;
  }
  .cardEffect:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .cardImgGlobal {
    flex-shrink: 0;
    width: 100%;
  }
  .cardBodyGlobal {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;
  }
  .cardGlobal .cardBodyGlobal h6 {
    padding: 0 0 10px;
    font-size: 16px;
  }
  .stikerCard {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 174px;
    padding: 0 10px;
    color: #fff;
    color: var(--colorWhite);
    background-color: #41b294;
    background-color: var(--colorGlobal);
  }
  .titleMaker {
    display: flex;
    align-items: center;
  }
  .titleMaker span.colorCardTitle {
    color: #8c8c8c;
    color: var(--colorTextCard);
  }
  .imgCardFooter {
    height: 40px;
    width: 40px;
    padding: 2px;
    border-color: #f6ba35 transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid var(--colorSPrimary);
    border-right: 1px solid transparent;
    border-top: 1px solid var(--colorSPrimary);
    border-radius: 50%;
  }
  .imgCardFooter img {
    width: 100%;
  }
  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .cardFooter p:first-of-type {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
  }
  .cardFooter p:nth-of-type(2) {
    font-weight: 500;
    color: #41b294;
    color: var(--colorGlobal);
  }
  .cardFooter p:first-of-type,
  .cardFooter span:nth-of-type(2) {
    font-size: 12px;
    color: #8c8c8c;
    color: var(--colorTextCard);
  }
  .textStar {
    color: #f6ba35;
    color: var(--colorSPrimary);
  }
  .colorCardTitle {
    color: #8c8c8c;
    color: var(--colorTextCard);
  }
  .moveSubCard .subCard {
    right: 0;
    left: -132%;
  }
  .moveSubCard .subCard:before {
    left: 100%;
    border-left: 15px solid #fff;
    border-left: 15px solid var(--colorWhite);
    border-right: 15px solid transparent;
  }
  .sliderAbout {
    background-image: url(../../assets/image/media/bgAbout.png);
    background-position: 50%;
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .sliderContentAbout {
    text-align: center;
    padding: 50px;
  }
  .sliderContentAbout > h6 {
    color: var(--colorSPrimary);
    font-size: 40px;
    font-weight: 600;
  }
  .sliderContentAbout p {
    font-size: 18px;
    color: var(--colorWhite);
  }
  .sliderContentAbout .titleSliderAbout {
    color: var(--colorGlobal);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
  }
  .AboutItem {
    padding: 50px;
  }
  .AboutItem .bgAboutBlue {
    background: url(../../assets/image/media/solutions-hero-royalBlue-bg.e6aa17e0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .AboutItem .bgAboutGreen {
    background: url(../../assets/image/media/solutions-hero-green-bg.15753edf.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .AboutItem img {
    width: 100%;
    height: 100%;
    height: 382px;
    object-fit: contain;
    border-radius: 30%;
  }
  .AboutItem h6 {
    text-transform: uppercase;
    color: var(--colorGlobal);
    font-size: 20px;
    font-weight: 600;
  }
  .AboutItem h5 {
    color: #012025;
    font-size: 40px;
    padding: 10px 0;
  }
  .AboutItem p {
    line-height: 2.2;
    color: var(--colorTextCard);
  }
  .AboutItem p:first-letter {
    font-size: calc(60px + 0.75vw);
    line-height: 40px;
    color: #cd5c5c;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
    font-family: Sansita One;
  }
  @media screen and (max-width: 46.1875em) {
    .reAboutItem {
      flex-direction: column-reverse;
    }
    .About .AboutItem {
      padding: 20px 50px;
    }
  }
