#header{
    transition: all .5s;
    .btnLogin{
        background-color: #f6ba35;
        transition: all .5s;
        &:hover{
            transform: scale(0.95);
            opacity: 0.85;
        }
    }
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 99999;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.15);
    padding: 0 50px;
    transition: all .5s;
    background-color: #f0f8ff;
}

.buttonDropdown{
    cursor: pointer;
}
.navList{
    li{
        .navlinkItem{
            &:hover{
                opacity: 0.6; 
            }
        }
    }
}