ul{
    li{
        cursor: pointer;
        transition: all .5s;
        &:hover{
            transform: translateY(-2px);
            a{
                color: #01877e;
            }
        }
        a{
            
            i{

            }
            span{
                
            }
        }
    }
    li.py-2{
        transition: all .5s;
        cursor: pointer;
        &:hover{
            transform: translateY(-2px);
                color: #01877e;
        }
    }
}

.footerBottom{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px 0;
    border-top: 1px solid #d0d0d0;
    .footerBottomLeft{

    }
    .footerBottomRight{
        padding: 0;
            i{
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin: 0 5px;
                transition: all .5s;
                display: inline-block;
                text-align: center;
                font-size: 20px;
                &:hover{
                    color: #01877e;
                }
            }
    }
}